body{
	background-color:rgb(0,0,0,0);	
	padding-top:60px;
}

h1{
	color: #fff; font-family:Garamond; font-size:40px;
	text-align:left; padding: 10px 0px 5px 60px;
	font-weight: bold;
}

.nav-item-active{
	font-weight:bold;	text-decoration:underline;color:#fff;
}


h2{
	font-family:Garamond; 
	font-size:30px;
}	 

h4{ color:#fff; }

.nav-link{color:#fff;}

.container-fluid { background-color:#143079; height:auto;padding:10px;}

.invcontent {
	display: flex;
	margin: 10px;
	gap: 20px;
}

.searchsec {
	background-color: #fff;
	width: 400px;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.catsubmit {
	padding-top: 8px;
}

.invlist {
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#d-logo { 
	border: 1px solid white; 
	width: 100px ;
	height: 90px;
	margin: 15px 0px 0px 65px;
	color:white;	
}
